body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body header {
    background-color: rgb(187, 22, 22);
    height: 150px;
    padding: 1px;
    text-align: center;
    border-bottom: 3px solid red;
}

header img {
    padding-top: 50px;
}

.titulo-reportagem {
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 50px;
}

.titulo-reportagem a {
    text-decoration: none;
    color: red;
    font-size: 75%;
}

.titulo-reportagem h3 {
    font-size: 80%;
}

.titulo-reportagem h5 {
    font-size: 80%;
}

.titulo-reportagem h5 a {
    color: black;
    text-decoration: none;
}


.texto {
    margin-right: 500px;
    margin-left: 50px;
}

.imagem-subtitulo {
    margin-left: 50px;
    margin-right: 500px;
    max-width: 75%;
    background-color: #f0f0f0
}

.imagem-subtitulo img {
    object-fit: cover;
    width: 100%;
}

.imagem-subtitulo h3 {
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 80%;
    color:#525252;
    padding-left: 10px;
}

footer {
    margin-right: 500px;
    margin-left: 50px;
    padding-bottom: 50px;
}

footer a {
    color: red;
    text-decoration: none;
}
